<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bitmark.autonomy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />


    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".AutonomyApplication"
        android:icon="${appIcon}"
        android:label="@string/app_name"
        android:roundIcon="${appIconRound}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".feature.splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".feature.main.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".feature.onboarding.OnboardingContainerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.permission.PermissionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.risklevel.RiskLevelActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.survey.SurveyContainerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.requesthelp.RequestHelpContainerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".feature.respondhelp.RespondHelpActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.symptoms.SymptomReportActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.behavior.BehaviorReportActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.areasearch.AreaSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".feature.symptoms.add.SymptomAddingContainerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.behavior.add.BehaviorAddingContainerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.profile.ProfileActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.symptoms.history.SymptomHistoryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.behavior.history.BehaviorHistoryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.locationhistory.LocationHistoryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.debugmode.DebugModeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.symptoms.add2.SymptomAdding2Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".feature.symptoms.metric.SymptomMetricActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.behavior.add2.BehaviorAdding2Activity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.behavior.metric.BehaviorMetricActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.guidance.GuidanceActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.donation.DonationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.recovery.RecoveryContainerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.autonomyprofile.AutonomyProfileActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.rating.ResourceRatingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.addresource.add.AddResourceActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.addresource.select.SelectResourceActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.symptoms.guidance.SymptomGuidanceActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.trending.TrendingContainerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.signout.SignOutContainerActivity"
            android:screenOrientation="portrait" />

        <receiver android:name=".feature.notification.ScheduledNotificationReceiver" />

        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />

        <meta-data
            android:name="com.onesignal.NotificationAccentColor.DEFAULT"
            android:value="FF2DC937" />

        <meta-data
            android:name="io.sentry.dsn"
            android:value="https://99b0fdab83fb432a92791b715267da15@sentry.io/5174225" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDZZ-dKTOTEH_CTFkqPLt7N58MJ9LEUbXo" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>
</manifest>
