<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bitmark.autonomy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".AutonomyApplication"
        android:icon="${appIcon}"
        android:label="@string/app_name"
        android:roundIcon="${appIconRound}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".feature.splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".feature.main.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".feature.onboarding.OnboardingContainerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.permission.PermissionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.risklevel.RiskLevelActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.survey.SurveyContainerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.requesthelp.RequestHelpContainerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".feature.respondhelp.RespondHelpActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.symptoms.SymptomReportActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.behavior.BehaviorReportActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.areasearch.AreaSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <receiver android:name=".feature.notification.DailyPushNotificationBroadcastReceiver" />

        <receiver android:name=".feature.notification.ScheduledNotificationReceiver" />

        <meta-data
            android:name="com.onesignal.NotificationAccentColor.DEFAULT"
            android:value="@color/colorAccent" />

        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />

        <meta-data
            android:name="io.sentry.dsn"
            android:value="https://99b0fdab83fb432a92791b715267da15@sentry.io/5174225" />

    </application>
</manifest>
